<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
        id: 对象的唯一标识符，命名随意，不可重复
        class: 类的完全限定名
    -->
    <bean id="user" class="com.colin.bean.User"/>
</beans>