<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
        id: 对象的唯一标识符，命名随意，不可重复
        class: 类的完全限定名
    -->
    <bean id="user" class="com.colin.xml.bean.User"/>

    <!--setter注入-->
    <bean id="userSetterDI" class="com.colin.xml.bean.User">
        <property name="name" value="张三"/>
        <property name="age" value="18"/>
        <property name="gender" value="男"/>
    </bean>

    <!--constructor注入-->
    <bean id="userConstructor1" class="com.colin.xml.bean.User">
        <constructor-arg index="0" value="李四"/>
        <constructor-arg index="1" value="18"/>
        <constructor-arg index="2" value="女"/>
    </bean>

    <bean id="userConstructor2" class="com.colin.xml.bean.User">
        <constructor-arg type="java.lang.String" value="王五"/>
        <constructor-arg type="java.lang.String" value="19"/>
        <constructor-arg type="java.lang.Integer" value="9"/>
    </bean>

    <bean id="userConstructor3" class="com.colin.xml.bean.User">
        <constructor-arg name="name" value="时光"/>
        <constructor-arg name="age" value="20"/>
        <constructor-arg name="gender" value="女"/>
    </bean>

<!--======================================================================-->
    <!--ref的使用-->
    <bean id="userDao" class="com.colin.xml.dao.impl.UserDaoImpl"/>

    <bean id="userService" class="com.colin.xml.service.impl.UserServiceImpl">
        <constructor-arg name="userDao" ref="userDao"/>
    </bean>

    <bean id="userServlet" class="com.colin.xml.servlet.UserServlet">
        <constructor-arg name="userService" ref="userService"/>
    </bean>
</beans>